.subheading {
  margin: var(--spacing-xs) 0 0;
  font-weight: 400;
}


.contact-form-wrapper{
  margin-top: var(--spacing-xxs);
  min-height: 565px;
}

/* style on hubspot form */
.embed-hbspot-form {
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-xs);
  line-height: 1.4;
  letter-spacing: -0.04em;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-xxs);
}

.embed-hbspot-form label {
  display: block;
  text-transform: capitalize;
  font-weight: 400;
  margin-top: var(--spacing-xs);
}

.embed-hbspot-form .hs-input {
  border-bottom: 1px solid var(--color-black);
  padding: var(--spacing-xxs) 0 !important;
  font-size: 16px;
}

.embed-hbspot-form textarea.hs-input {
  margin-top: var(--spacing-xs);
  min-height: 120px;
  padding: var(--spacing-xxs) !important;
  background: transparent;
  border-color: var(--color-black);
}

.embed-hbspot-form textarea:focus {
  outline: none;
  border: 1px solid var(--color-black);
}

.embed-hbspot-form .hs-form-required {
  color: var(--color-red);
  margin-left: 2px;
}

.embed-hbspot-form li {
  list-style: none;
}

.embed-hbspot-form .hs-error-msg {
  color: var(--color-red);
  margin-top: var(--spacing-xxs);
  text-transform: initial;
  font-size: 14px;
}

/* .embed-hbspot-form .hs-submit {
  margin-top: var(--spacing-xs);
} */

/* button */
.embed-hbspot-form .hs-button {
  all: unset;
  width: 100%;
  height: 100%;
}

.embed-hbspot-form .actions {
  cursor: pointer;
  color: var(--color-white);
  background: var(--color-primary-blue);
  border: 1px solid var(--color-primary-blue);
  padding: 12px 20px;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-xs);
  line-height: 1.2;
  font-weight: 700;
  border-radius: var(--border-radius-xl);
  letter-spacing: -0.03em;
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 120px;
  text-align: center;
}

.embed-hbspot-form .actions .hs-button{
  color: var(--color-white);
  z-index: 5;
  position: relative;
}

.embed-hbspot-form .actions::before,
.embed-hbspot-form .actions::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 100%;
  left: 0;
  z-index: 1;
  transition: all 0.3s cubic-bezier(0.75, 0, 0.125, 1);
}

.embed-hbspot-form .actions::before {
  background: var(--color-accent-light-blue);
}

.embed-hbspot-form .actions::after {
  background: var(--color-white);
}

.embed-hbspot-form .actions:hover .hs-button{
  color: var(--color-primary-blue);
}

.embed-hbspot-form .actions:hover::before,
.embed-hbspot-form .actions:hover::after {
  transform: translate3d(0, 100%, 0);
}

.embed-hbspot-form .actions:hover::after {
  transition-delay: 0.175s;
}

@media (min-width: 600px) {
  .contact-form-wrapper {
    margin-top: var(--spacing-s);
    min-height: 465px;
  }

  .embed-hbspot-form {
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-xs) var(--spacing-m);
  }

  .embed-hbspot-form label {
    padding-bottom: var(--spacing-xxs);
  }

  .embed-hbspot-form .hs-input {
    font-size: var(--body-font-size-s);
  }

  .hs_message {  /* stylelint-disable */
    grid-column: span 2; 
  }
}

@media (min-width: 900px) {
  .contact-form-wrapper {
    margin-top: var(--spacing-m);
    width: 80%;
    max-width: 940px;
    min-height: 500px;
  }

  .embed-hbspot-form {
    font-size: var(--body-font-size-s);
    gap: var(--spacing-s) var(--spacing-m);
  }
}