.section-title {
    width: 100%;
    font-family: var(--heading-font-family);
}

.section-title .align-left {
    text-align: left;
}

.section-title .align-center {
    text-align: center;
}

.section-title .align-right {
    text-align: right;
}

