:root {
  --columns-gap: 24px;
}

@media (min-width: 600px) {
  :root {
    --columns-gap: 36px 7vw;
  }
}

@media (min-width: 1200px) {
  :root {
    --columns-gap: clamp(36px, 3vw, 46px) clamp(72px, 7vw, 120px);
  }
}

.columns > div {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--columns-gap);
}

.columns .columns-item {
  position: relative;
}

.columns .columns-item > * {
  position: relative;
  z-index: 1;
}

.columns .big-heading {
  color: var(--color-primary-blue);
  margin-bottom: 18px;
}

.columns img {
  width: 100%;
}

.columns .heading.text-blue {
  color: var(--color-primary-blue);
}

/* all text white */
.columns.text-white {
  color: var(--color-white);
}

.columns.text-white .heading {
  color: var(--color-white);
}

.columns.text-white .heading.heading.text-blue {
  color: var(--color-white);
}

/* hover-image-active */
.columns.hover-image-active .image-wrapper {
  position: absolute;
  top: 50%;
  right: 0;
  height: 110%;
  z-index: 0;
  opacity: 0.25;
  aspect-ratio: 1 / 1;
  transform: translate(0, -60%);
  clip-path: var(--clip-path-diagonal-wipe-1-start);
  transition: all 0.5s var(--cubic-bezier-1);
}

.columns.hover-image-active .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.columns.hover-image-active .columns-item:hover .image-wrapper {
  clip-path: var(--clip-path-diagonal-wipe-1-end);
}

/* stats-items  */
.columns.stats-items .columns-grid-container {
  gap: 0;
  width: 70%;
  margin: 0 auto;
}

.columns.stats-items .columns-item {
  --line-drawing-duration: 0.6s;

  text-align: center;
  padding: var(--spacing-m) 0;
  position: relative;
  overflow: hidden;
}

/* for drawing line effect */
.columns.stats-items .columns-item::after {
  position: absolute;
  content: '';
  background: var(--color-black);
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  transition: all var(--line-drawing-duration) ease-in-out;
}

.columns.stats-items .columns-item:last-child::after {
  display: none;
}

.columns.stats-items .columns-grid-container.in-view  .columns-item::after {
  width: 100%;
  height: 1px;
}

.columns.stats-items .columns-grid-container .stats-item-content{
  opacity: 0;
  transition: all 0.4s ease-in-out;
  transition-delay: var(--line-drawing-duration); 
  transform: translateY(10%);
}

.columns.stats-items .columns-grid-container.in-view .stats-item-content{
  opacity: 1;
  transform: none;
}

.columns.stats-items .big-heading {
  font-size: var(--heading-font-size-xl);
  color: var(--color-black);
  margin-bottom: var(--spacing-xs);
}

.columns.stats-items p.stats-items-description {
  margin: 0;
}

.columns.stats-items .stats-deco-text {
  font-size: var(--body-font-size-l);
  vertical-align: top;
  opacity: 0.5;
}

/* image-list */
.columns.image-list .columns-grid-container {
  grid-template-columns: repeat(2, 1fr);
}

/* stylelint-disable-next-line */
.columns.image-list .columns-item {
  display: grid;
  place-items: center;
}

.columns.image-list .image-link-wrapper {
  display: inline-block;
  width: 80%;
  margin: 0 auto;
}

.columns.image-list .image-link-wrapper img {
  max-height: 35px;
  object-fit: contain;
  transition: var(--transition-cubic-bezier-1);
  opacity: 0.7;
}

.columns.image-list .image-link-wrapper:hover img {
  opacity: 1;
}


@media (min-width: 768px) {
  .columns > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .columns .big-heading {
    color: var(--color-primary-blue);
  }

  /* stats-items  */
  .columns.stats-items .columns-grid-container {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    max-width: 1024px;
  }

  .columns.stats-items .columns-item {
    border: 0;
    padding: var(--spacing-xs) 0;

    /* border-right: 1px solid var(--color-black); */
  }

  .columns.stats-items .columns-item::after {
    width: 1px;
    height: 0%;
    right: 0;
    top: 0;
    bottom: auto;
    left: auto;
  }

  .columns.stats-items .columns-grid-container.in-view  .columns-item::after {
    width: 1px;
    height: 100%;
  }


  .columns.stats-items .columns-item:last-child {
    border-right: 0;
  }

  .columns.stats-items .big-heading {
    font-size: var(--heading-font-size-xxl);
  }

  /* image-list */
  .columns.image-list .columns-grid-container {
    grid-template-columns: repeat(3, 1fr);
    max-width: 80vw;
    margin: var(--spacing-xl) auto 0;
  }

  .columns.image-list .image-link-wrapper img {
    max-height: 45px;
  }
}

@media (min-width: 900px) {
  .columns .big-heading {
    margin-bottom: var(--spacing-s);
  }

  .columns .heading-s {
    font-size: clamp(26px, 2.1vw, 30px);
  }

  /* image-list */
  .columns.image-list .columns-grid-container {
    grid-template-columns: repeat(4, 1fr);
    max-width: var(--contained-content-max-width);
    margin: 0 auto;
    gap: var(--spacing-2xl) 4vw;
  }
}

@media (min-width: 1200px) {
  .columns > div {
    grid-template-columns: repeat(3, 1fr);
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

  .columns .big-heading {
    word-spacing: 9999px;
    margin-bottom: var(--spacing-m);
  }
}
