:root {
  --columns-gap: 24px;
}

@media (min-width: 600px) {
  :root {
    --columns-gap: 36px 7vw;
  }
}

@media (min-width: 1200px) {
  :root {
    --columns-gap: clamp(36px, 3vw, 46px) clamp(72px, 7vw, 120px);
  }
}

.columns > div {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--columns-gap);
}

.columns .big-heading {
  color: var(--color-primary-blue);
  margin-bottom: 18px;
}

.columns img {
  width: 100%;
}

/* all text white */
.columns.text-white {
  color: var(--color-white);
}

.columns.text-white .heading {
  color: var(--color-white);
}

@media (min-width: 768px) {
  .columns > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .columns .big-heading {
    color: var(--color-primary-blue);
  }
}

@media (min-width: 900px) {
  .columns .big-heading {
    margin-bottom: var(--spacing-s);
  }

  .columns .heading-s {
    font-size: clamp(26px, 2.1vw, 30px);
  }
}

@media (min-width: 1200px) {
  .columns > div {
    grid-template-columns: repeat(3, 1fr);
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

  .columns .big-heading {
    word-spacing: 9999px;
    margin-bottom: var(--spacing-m);
  }
}
