.next-project {
  --title-color: var(--color-primary-blue);

  margin-top: var(--section-spacing-l);
}

.next-project-link-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: auto;
  margin-right: auto;
}

.project-link-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
  padding-right: 5%;
}

.project-link-text-wrapper p {
  margin-top: 0;
  color: var(--color-black);
}

.project-link-text-wrapper .project-name {
  color: var(--title-color);
  text-align: center;
}

.project-image-wrapper img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

@media (min-width: 768px) {
  .next-project-link-wrapper {
    width: 70%;
  }

  .project-image-wrapper img {
    aspect-ratio: 4 / 3;
  }
}
