:root {
  --nav-font-size: 32px;
  --circular-nav-radius: 8px;
}

@media (min-width: 900px) {
  :root {
    --nav-font-size: clamp(16px, 2vw, 19px);
  }
}

/* logic: keep nav as top nav, create another div for circular reveal */

/* header and nav layout */
header .nav-wrapper {
  width: 100%;
  z-index: var(--nav-z-index);
  position: fixed;
  color: var(--color-white);
  background: var(--color-primary-blue);
  transition: var(--transition-cubic-bezier-1);
}

/* hide nav on scroll */
header .nav-wrapper.hide {
  transform: translateY(-100%);
}

/* mobile nav: circular animation */
header .mobile-menu-wrapper {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 2;

  /* setting for circular nav animation to work */
  visibility: hidden;
  clip-path: circle(var(--circular-nav-radius) at calc(100% - 55px) 47px);
}

header .mobile-menu-wrapper[data-active="true"] {
  visibility: visible;
}

#mobile-nav[aria-expanded="false"] {
  pointer-events: none;
}

/* header theme setup, default theme as theme-dark */
header .theme-dark .nav-wrapper,
header .theme-dark .mobile-menu-wrapper {
  color: var(--color-white);
  background: var(--color-primary-blue);
}

header .intr-logo.white,
header .intr-logo.white-black,
header .intr-logo.blue-black {
  opacity: 0;
}

header .theme-dark .intr-logo.white-black {
  opacity: 1;
}

header .theme-dark .nav-btn {
  background: var(--color-white);
  border: 1px solid var(--color-white);
  transition: var(--transition-cubic-bezier-1);
}

/* theme-light */
header .theme-light .nav-wrapper,
header .theme-light .mobile-menu-wrapper {
  color: var(--color-black);
  background: var(--color-light-grey);
}

header .theme-light .intr-logo.blue-black {
  opacity: 1;
}

header .theme-light .nav-btn {
  background: var(--color-black);
  border: 1px solid var(--color-black);
  transition: var(--transition-cubic-bezier-1);
}

header .theme-dark .nav-btn[data-open="true"],
header .theme-light .nav-btn[data-open="true"] {
  background: transparent;
}

/* theme-transparent */
header .theme-transparent .nav-wrapper {
  color: var(--color-white);
  background: linear-gradient(to bottom, #121212, transparent);
}

header .theme-transparent .intr-logo.white {
  opacity: 1;
}

header .theme-transparent .mobile-menu-wrapper {
  background: var(--color-black);
}

header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
    "hamburger brand cta" var(--nav-height)
    "sections sections sections" 1fr / auto 1fr auto;
  align-items: center;
  gap: 0 0.8em;
  margin: auto;
  max-width: var(--section-max-width);
  height: var(--nav-height);
  font-family: var(--nav-font-family);
}

header nav.mobile-menu {
  grid-template:
    "hamburger brand" var(--nav-height)
    "sections sections" 1fr
    "cta cta" 15vh / auto 1fr;
  overflow-y: auto;
  min-height: 100vh;
}

@media (max-width: 899px) {
  header nav.mobile-menu .nav-sections {
    padding: var(--spacing-s) 0;
  }

  header nav.mobile-menu .nav-sections li {
    margin-bottom: var(--spacing-s);
  }
}

@media (min-width: 900px) {
  header nav {
    display: flex;
    justify-content: space-between;
    padding: var(--spacing-ml) 0;
  }

  header nav.mobile-menu {
    min-height: 0;
    overflow: visible;
  }
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
  color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  width: calc(var(--circular-nav-radius) * 2);
  height: 22px;
  display: flex;
  align-items: center;

  /* higher z-index to allow clicking when mobile menu expanded  */
  z-index: 5;
}

header nav .nav-hamburger button {
  height: calc(var(--circular-nav-radius) * 2);
  width: auto;
  aspect-ratio: 1 / 1;
  margin: 0;
  border: 0;
  border-radius: 50%;
  padding: 0;
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
  background: var(--color-white);
}

@supports not (aspect-ratio: 1 / 1) {
  header nav .nav-hamburger button {
    width: calc(var(--circular-nav-radius) * 2);
  } 
}

@media (min-width: 900px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* brand */
header .nav-brand {
  grid-area: brand;
  flex-basis: 54px;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
}

header .nav-brand-logo-link {
  display: flex;
  align-items: center;
  margin-bottom: -5px;
}

#mobile-nav .nav-brand-logo-link {
  width: fit-content;
}

header nav .nav-brand img {
  width: auto;
  height: 25px;
  object-fit: contain;
  aspect-ratio: 146 / 23;
}

header .intr-logo-wrapper {
  position: relative;
}

header .intr-logo {
  position: absolute;
  inset: 0;
}

header .intr-logo.placeholder {
  position: relative;
  opacity: 0;
  z-index: -1;
}

@media (min-width: 900px) {
  header .nav-brand-logo-link {
    margin-bottom: -7px;
  }

  header nav .nav-brand img {
    width: auto;
    height: 35px;
  }
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
  background-color: var(--overlay-color);
}

header nav.mobile-menu .nav-sections {
  display: block;
  visibility: visible;
  align-self: center;
}

header nav .nav-sections ul {
  list-style: none;
  padding-left: 0;
}

header nav .nav-sections ul > li {
  font-weight: 700;
}

header .nav-link {
  font-weight: 600;
  font-size: var(--nav-font-size);
  letter-spacing: -0.028em;
  line-height: 1.2;
  position: relative;
}

header .nav-link::after {
  content: url("/assets/img/scribble-sketch-lines.svg");
  width: 115%;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(0, 35%) rotate(0);
  clip-path: inset(0 100% 0 0);
  transition: var(--transition-cubic-bezier-1);
}

header .nav-link.active::after {
  clip-path: inset(0 0 0 0);
}

header .theme-light .nav-link.active::after {
  filter: brightness(0);
}

@media (min-width: 900px) {
  header nav .nav-sections,
  header nav.mobile-menu .nav-sections {
    display: flex;
    justify-content: center;
    visibility: visible;
    white-space: nowrap;
  }

  header nav.mobile-menu .nav-sections {
    align-self: unset;
  }

  header nav .nav-sections ul {
    display: flex;
    gap: 2em;
    margin: 0;
    font-size: var(--body-font-size-xs);
  }

  header nav .nav-sections > ul > li {
    flex: 0 1 auto;
    position: relative;
    font-weight: 500;
  }
}

/* tools */
header nav .nav-cta {
  grid-area: cta;
}

header nav.mobile-menu .nav-cta {
  align-self: start;
}

/* TODO: not sure if that's in use */
@keyframes scale {
  from {
    transform: scale(0%);
  }

  to {
    transform: scale(100%);
  }
}
