.section.project-hero-container {
  padding: 0;
}

.section .project-hero-wrapper {
  width: 100%;
  height: 95vh;
  max-height: 1200px;
  overflow: hidden;
  color: var(--color-white);
}

.project-hero {
  position: relative;
  width: 100%;
  height: 100%;
}

.project-hero .background-wrapper {
  width: 100%;
  height: 100%;
}

.project-hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}

.project-hero .project-hero-backdrop {
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--overlay-grey-linear-gradient);
}

.project-hero .copy-wrapper {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: var(--section-max-width);
}

.project-hero .copy-wrapper > * {
  max-width: 1000px;
}

.project-hero .project-hero-subtitle {
  font-size: clamp(14.5px, 5vw, 16px);
  letter-spacing: -0.04em;
  text-decoration: uppercase;
}
