.free-style-title-container {
  overflow: hidden;
}

.free-style-title {
  width: 100%;
  max-width: 420px;
  margin-bottom: var(--spacing-l);
}

.free-style-title-text {
  display: inline;
}

.free-style-title.text-blue {
  color: var(--color-primary-blue);
}

/* width */
.free-style-title.full-width {
  max-width: inherit;
}

/* highlight dot/period styles */
.free-style-title.highlight-dot em {
  color: var(--color-light-grey);
}

.free-style-title.highlight-dot-light em {
  color: inherit;
  opacity: 0.5;
}

.free-style-title.highlight-dot-blue em {
  color: var(--color-primary-blue);
}

@media (max-width: 599px) {
  .free-style-title.mobile-text-right {
    text-align: right;
  }

  .free-style-title.mobile-text-center {
    text-align: center;
  }
}

@media (min-width: 600px) {
  .free-style-title {
    text-align: center;
    max-width: var(--contained-content-max-width);
    margin-left: auto;
    margin-right: auto;
  }

  .free-style-title.full-width {
    max-width: inherit;
  }

  .free-style-title-text {
    display: block;
  }
}

@media (min-width: 900px) {
  .free-style-title {
    text-align: inherit;
    max-width: clamp(700px, 60vw, 1000px);

    /* max-width: clamp(700px, 60vw, 1200px); */
    margin-bottom: var(--spacing-3xl);
  }

  .free-style-title.full-width {
    max-width: inherit;
  }

  .free-style-title-text.center {
    text-align: center;
  }

  .free-style-title-text.left {
    text-align: left;
  }

  .free-style-title-text.right {
    text-align: right;
  }
}

@media (min-width: 1024px) {
  .free-style-title.long-title .heading-ml {
    font-size: clamp(64px, 5.6vw, 94px);
  }
}

/* section specific style */
.work-hero .free-style-title {
  text-align: inherit;
  margin-bottom: 0;
  margin-left: 0;
  max-width: 90%;
}

.work-hero .free-style-title-text {
  display: block;
}

.work-hero .free-style-title-text.center {
  text-align: center;
}

.work-hero .free-style-title-text.right {
  text-align: right;
}

@media (min-width: 768px) {
  .work-hero .free-style-title {
    max-width: clamp(600px, 65vw, 1300px);
  }
}

@media (min-width: 1800px) {
  .work-hero .deco-bold-circle-triple {
    margin-right: 10%;
  }
}
