/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@font-face {
  font-family: inter-fallback;
  size-adjust: 100.06%;
  ascent-override: 95%;
  src: local("Arial");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --color-black: #000;
  --color-white: #fff;
  --color-primary-blue: #1e85ff;
  --color-red: red;
  --color-accent-light-blue: #8ec2ff;
  --color-light-grey: #eee;
  --color-grey: #ccc;

  /* preset color setting */
  --link-color: var(--color-primary-blue);
  --link-hover-color: var(--color-primary-blue);
  --background-color-white: #fff;
  --overlay-background-color: #eee;
  --highlight-background-color: #ccc;
  --text-color: #000;

  /* stylelint-disable */
  --overlay-grey-linear-gradient: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.01) 6.67%,
    rgba(0, 0, 0, 0.02) 13.33%,
    rgba(0, 0, 0, 0.05) 20%,
    rgba(0, 0, 0, 0.09) 26.67%,
    rgba(0, 0, 0, 0.14) 33.33%,
    rgba(0, 0, 0, 0.2) 40%,
    rgba(0, 0, 0, 0.27) 46.67%,
    rgba(0, 0, 0, 0.33) 53.33%,
    rgba(0, 0, 0, 0.4) 60%,
    rgba(0, 0, 0, 0.46) 66.67%,
    rgba(0, 0, 0, 0.51) 73.33%,
    rgba(0, 0, 0, 0.55) 80%,
    rgba(0, 0, 0, 0.58) 86.67%,
    rgba(0, 0, 0, 0.59) 93.33%,
    rgba(0, 0, 0, 0.6) 100%
  );
  /* stylelint-enable */

  /* styelint rule is preventing font setup like this, TODO: see if we can switch to better one: --body-font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; */

  /* fonts */
  --body-font-family: inter, -apple-system, "Segoe UI", roboto, inter-fallback,
    sans-serif;
  --nav-font-family: var(--body-font-family);
  --heading-font-family: var(--body-font-family);
  --fixed-font-family: var(--body-font-family);

  /* body sizes */
  --body-font-size-l: 20px;
  --body-font-size-lh: 1;
  --body-font-size-m: 18px;
  --body-font-size-s: clamp(16px, 2.4vw, 18px);
  --body-font-size-xs: clamp(14px, 2.2vw, 16px);

  /* heading sizes */
  --heading-font-size-xxl: 48px;
  --heading-font-size-xl: 40px;
  --heading-font-size-l: 32px;
  --heading-font-size-m: 24px;
  --heading-font-size-s: 20px;
  --heading-font-size-xs: 18px;

  /* nav sizes */
  --nav-font-size: 19px;
  --nav-height: 64px;
  --nav-max-width: 94vw;

  /* max-width */
  --section-mobile-max-width: 90vw;
  --section-tablet-max-width: 90vw;
  --section-laptop-max-width: 92vw;
  --section-desktop-max-width: 1380px;
  --section-max-width: var(--section-mobile-max-width);
  --contained-content-max-width: 1080px;

  /* section side padding */
  --section-side-padding-mobile: calc(
    (100vw - var(--section-mobile-max-width)) / 2
  );
  --section-side-padding-tablet: calc(
    (100vw - var(--section-tablet-max-width)) / 2
  );
  --section-side-padding-laptop: calc(
    (100vw - var(--section-laptop-max-width)) / 2
  );
  --section-side-padding-desktop: calc(
    (100vw - var(--section-desktop-max-width)) / 2
  );
  --section-side-padding: var(--section-side-padding-mobile);

  /*  max-width, single side overflow */
  --section-single-side-mobile-max-width: calc(
    (100vw - var(--section-mobile-max-width)) / 2 +
      var(--section-mobile-max-width)
  );
  --section-single-side-tablet-max-width: calc(
    (100vw - var(--section-tablet-max-width)) / 2 +
      var(--section-tablet-max-width)
  );
  --section-single-side-laptop-max-width: calc(
    (100vw - var(--section-laptop-max-width)) / 2 +
      var(--section-laptop-max-width)
  );
  --section-single-side-desktop-max-width: calc(
    (100vw - var(--section-desktop-max-width)) / 2 +
      var(--section-desktop-max-width)
  );
  --section-single-side-max-width: var(--section-single-side-mobile-max-width);

  /* Spacing (Consonant) */
  --spacing-xxxs: 4px;
  --spacing-xxs: 8px;
  --spacing-xs: 16px;
  --spacing-s: 24px;
  --spacing-m: 32px;
  --spacing-ml: 38px;
  --spacing-l: 48px;
  --spacing-xl: 56px;
  --spacing-2xl: 64px;
  --spacing-3xl: 80px;
  --spacing-4xl: 104px;
  --spacing-5xl: 128px;

  /* Section spacing */
  --section-spacing-l: var(--spacing-l);
  --section-spacing-xl: var(--spacing-2xl);

  /* gap */
  --columns-gap: 24px;

  /* z-index */
  --nav-z-index: 9999;
  --cursor-z-index: 10000;

  /* border-radius */
  --border-radius-s: 10px;
  --border-radius-m: 20px;
  --border-radius-xl: 50px;

  /* clip-path */
  --clip-path-diagonal-wipe-1-start: polygon(
    100% 0%,
    100% 0%,
    100% 100%,
    150% 100%
  );
  --clip-path-diagonal-wipe-1-end: polygon(
    -100% 0%,
    100% 0%,
    100% 100%,
    -25% 100%
  );
  --clip-path-horizontal-wipe-1: inset(0 100% 0 0);
  --clip-path-reveal: inset(0 0 0 0);

  /* transition */
  --cubic-bezier-1: cubic-bezier(0.802, 0, 0.2, 1);
  --transition-cubic-bezier-1: all 0.4s var(--cubic-bezier-1);
  --transition-ease-in-out: all 0.4s ease-in-out;
}

@media (min-width: 600px) {
  :root {
    --section-max-width: var(--section-tablet-max-width);
    --section-single-side-max-width: var(
      --section-single-side-tablet-max-width
    );
    --section-side-padding: var(--section-side-padding-tablet);

    /* gap */
    --columns-gap: 36px 7vw;
  }
}

@media (min-width: 900px) {
  :root {
    /* headings */
    --heading-font-size-xxl: 60px;
    --heading-font-size-xl: 48px;
    --heading-font-size-l: 36px;
    --heading-font-size-m: 30px;
    --heading-font-size-s: 24px;
    --heading-font-size-xs: 21px;

    /* body */
    --body-font-size-l: 22px;
    --body-font-size-m: clamp(18px, 1.4vw, 20px);
    --body-font-size-s: 18px;
    --body-font-size-xs: 16px;

    /* nav */
    --nav-font-size: clamp(16px, 2.4vw, 19px);
    --nav-max-width: 1440px;

    /* max-width */
    --section-max-width: var(--section-laptop-max-width);
    --contained-content-max-width: 1080px;
    --section-side-padding: var(--section-side-padding-laptop);
    --section-single-side-max-width: var(
      --section-single-side-laptop-max-width
    );

    /* Section spacing */
    --section-spacing-l: var(--spacing-4xl);
    --section-spacing-xl: var(--spacing-4xl);
  }
}

@media (min-width: 1200px) {
  :root {
    --columns-gap: clamp(36px, 3vw, 46px) clamp(72px, 7vw, 120px);
  }
}

@media (min-width: 1500px) {
  :root {
    --section-max-width: var(--section-desktop-max-width);
    --section-side-padding: var(--section-side-padding-desktop);
    --section-single-side-max-width: var(
      --section-single-side-desktop-max-width
    );
  }
}

html {
  --hero-bg-color: var(--color-black);

  scroll-behavior: smooth;
}

body {
  font-size: var(--body-font-size-m);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.6;
  color: var(--text-color);
  display: none;
  min-height: 100vh;
  overscroll-behavior: none;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: 700;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 {
  font-size: var(--heading-font-size-xxl);
}

h2 {
  font-size: var(--heading-font-size-xl);
}

h3 {
  font-size: var(--heading-font-size-l);
}

h4 {
  font-size: var(--heading-font-size-m);
}

h5 {
  font-size: var(--heading-font-size-s);
}

h6 {
  font-size: var(--heading-font-size-xs);
}

p,
dl,
pre,
blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

code,
pre,
samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code,
samp {
  padding: 0.125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--overlay-background-color);
  padding: 1em;
  border-radius: 0.25em;
  overflow-x: auto;
  white-space: pre;
}

a,
a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

/* buttons */
a.button:any-link {
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 5px 30px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--link-color);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 30px;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: var(--overlay-background-color);
  cursor: unset;
}

a.button.secondary,
button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color);
}

main {
  --main-bg-color: var(--color-white);

  margin-top: calc(var(--nav-height) * -1);
  z-index: 2;
  position: relative;
}

main > div {
  background: var(--main-bg-color);
}

/* highlight for italic element */
em {
  font-style: inherit;
  color: var(--color-primary-blue);
}

main input {
  all: unset;
  color: var(--color-black);
  font-size: var(--body-font-size-s);
  font-family: var(--body-font-family);
  width: 100%;
  max-width: 50rem;
  display: block;
  padding: var(--spacing-xs) 0;
  box-sizing: border-box;
  border: 0;
  border-bottom: 1px solid var(--color-black);
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: "“";
  line-height: 0;
}

main blockquote p::after {
  content: "”";
  line-height: 0;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* section max-width */
.section > div {
  width: 100%;
  max-width: var(--section-max-width);
  margin-left: auto;
  margin-right: auto;
}

main .section {
  padding: 64px 0;
}

@media (min-width: 900px) {
  main .section {
    padding: var(--spacing-4xl) 0;
  }

  .section > div {
    margin: auto;
  }
}

/* section metadata */
main .section.highlight {
  background-color: var(--highlight-background-color);
}

/* --------------- Utility Classes -------------- */
.d-none {
  display: none;
}

.bg-blue {
  background: var(--color-primary-blue);
  color: var(--color-white);
}

.bg-grey {
  background: var(--color-light-grey);
  color: var(--color-black);
}

.bg-white {
  background: var(--color-white);
}

.text-blue {
  color: var(--color-primary-blue);
}

.pt-l {
  padding-top: var(--spacing-s);
}

@media (min-width: 768px) {
  .pt-l {
    padding-top: var(--spacing-l);
  }
}

.section-description {
  font-size: var(--body-font-size-xs);
  text-align: left;
  line-height: 1.4;
}

.description-s {
  font-size: var(--body-font-size-xs);
  line-height: 1.4;
}

.description-m {
  font-size: var(--body-font-size-xs);
  line-height: 1.4;
  letter-spacing: -0.04em;
}

.heading-xs,
.heading-s,
.heading-m,
.heading-ml,
.heading-l,
.heading-sl,
.heading-xl {
  font-family: var(--heading-font-family);
  font-weight: 700;
  line-height: 1;
}

.heading-xs {
  font-size: clamp(16px, 2.5vw, 18px);
}

.heading-s {
  font-size: clamp(21px, 3.5vw, 24px);
  letter-spacing: -0.04em;
}

.heading-m {
  font-size: clamp(26px, 3.8vw, 32px);
  line-height: 1;
  letter-spacing: -0.04em;
}

.heading-sl {
  font-feature-settings: "salt" on;
  font-size: clamp(28px, 5vw, 48px);
  line-height: 1.05;
  letter-spacing: -0.04em;
}

.heading-ml {
  font-feature-settings: "salt" on;
  font-size: clamp(30px, 5.4vw, 52px);
  line-height: 1.025;
  letter-spacing: -0.04em;
}

.heading-l {
  font-feature-settings: "salt" on;
  font-size: clamp(32px, 5.8vw, 52px);
  line-height: 1.05;
  letter-spacing: -0.03em;
}

.heading-xl {
  font-size: clamp(36px, 8.4vw, 64px);
  line-height: 1.05;
  letter-spacing: -0.03em;
}

@media (min-width: 600px) {
  .section-description {
    font-size: var(--body-font-size-s);
  }
}

@media (min-width: 900px) {
  .section-description {
    font-size: var(--body-font-size-m);
    line-height: 1.6;
  }

  .description-m {
    font-size: var(--body-font-size-m); /* 20px */
    line-height: 1.6;
  }

  .heading-xs {
    font-size: clamp(18px, 2vw, 21px);
  }

  .heading-s {
    font-size: clamp(26px, 2.1vw, 32px);
  }

  .heading-m {
    font-size: clamp(32px, 3vw, 42px);
  }

  .heading-sl {
    font-size: clamp(32px, 5.4vw, 82px);
    line-height: 1.025;
  }

  .heading-ml {
    font-size: clamp(64px, 5.4vw, 86px);
    line-height: 1.025;
  }

  .heading-l {
    font-size: clamp(64px, 6vw, 90px);
    line-height: 1.05;
  }

  .heading-xl {
    font-size: clamp(64px, 6.4vw, 102px);
    line-height: 1;
    margin: 0;
  }
}

/* spacing */
.section.pt-0 {
  padding-top: 0;
}

.section.pb-0 {
  padding-bottom: 0;
}

/* ---------- drawing styles, .deco-bold-xxxx ----------- */
.deco-bold-curly strong,
.deco-bold-circle strong,
.deco-bold-circle-inline strong,
.deco-bold-circle-triple strong,
.deco-bold-circle-single-cross strong,
.deco-bold-y-sign strong,
.deco-bold-y-sign-white strong,
.deco-bold-y-sign-fill-right strong,
.deco-bold-zigzag strong,
.deco-bold-zigzag-left strong,
.deco-bold-zigzag-top-left strong,
.deco-bold-zigzag-right strong,
.deco-bold-pigtail strong {
  position: relative;
}

/* center circle */
.deco-bold-circle strong::before,
.deco-bold-circle-inline strong::before {
  content: url("/assets/img/scribble-circle-center.svg");
  position: absolute;
  bottom: -45%;
  left: -23%;
  width: 190%;
  z-index: 5;
}

/* inline circle */
.deco-bold-circle-inline strong::before {
  /* single word style */

  /* width: 190%;
  top: 0;
  right: 0;
  left: auto;
  bottom: auto;
  transform: scale(-1, -1) translate(-15%, 15%); */

  width: auto;
  top: 0;
  right: 0;
  left: auto;
  bottom: auto;
  transform: scale(-1, -1) translate(0%, 10%);
  height: 110%;
  aspect-ratio: 597 /134;
}

/* triple circle */
.deco-bold-circle-triple strong::before {
  content: url("/assets/img/scribble-circle-center.svg");
  width: 180%;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: rotate(-180deg) translate(19%, -30%);
  z-index: 2;
  filter: brightness(0);
}

/* circle single cross */
.deco-bold-circle-single-cross strong::before {
  content: url("/assets/img/scribble-circle-single-cross.svg");
  position: absolute;
  width: 85%;
  top: 0%;
  right: 0%;
  z-index: 5;
  transform: rotate(-19.4deg) translate(7.5%, 10%);
}

/* curly */
.deco-bold-curly strong::before {
  content: url("/assets/img/scribble-curly.svg");
  position: absolute;
  bottom: -120%;
  left: -15%;
  width: 180%;
  z-index: 5;
}

/* sign-y: next to y */
.deco-bold-y-sign strong,
.deco-bold-y-sign-fill-right strong {
  display: inline-flex;
  flex-direction: row;
  margin-right: 15%;
}

.deco-bold-y-sign strong::after,
.deco-bold-y-sign-fill-right strong::after {
  content: url("/assets/img/scribble-sign-y.svg");
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  transform: translate(80%, -20%);
}

/* sign-y: take up left space  */
.deco-bold-y-sign-fill-right strong {
  margin-right: 20%;
}

.deco-bold-y-sign-fill-right strong::after {
  width: 90%;
  transform: translate(95%, -20%);
}

@media (min-width: 900px) {
  .deco-bold-y-sign-fill-right strong {
    margin-right: 38.5%;
  }
}

/* sign-y: white color */
.deco-bold-y-sign-white strong {
  margin-right: 10%;
}

.deco-bold-y-sign-white strong::after {
  content: url("/assets/img/scribble-sign-y-white.svg");
  position: absolute;
  width: 90%;
  right: 0;
  bottom: 0;
  transform: translate(35%, 47.5%);
}

/* long-zigzag  */
.deco-bold-zigzag strong::after,
.deco-bold-zigzag-left strong::after,
.deco-bold-zigzag-right strong::after,
.deco-bold-zigzag-top-left strong::after {
  width: 120%;
  content: url("/assets/img/scribble-long-zigzag.svg");
  position: absolute;
  left: 0;
  transform: scaleX(-1) translate(62.5%, 0);
}

/* long-zigzag - left */
.deco-bold-zigzag-left strong {
  padding-left: 15%;
}

.deco-bold-zigzag-left strong::after {
  width: 94%;
  max-width: 480px;
  left: 0;
  bottom: 0;
  transform: scaleX(-1) translate(-7.5%, 0);
}

/* long-zigzag - right */
.deco-bold-zigzag-right strong {
  padding-right: 10%;
}

.deco-bold-zigzag-right strong::after {
  width: 100%;
  left: 0;
  top: 0;
  transform: scaleX(-1) translate(-15%, 0);
}

/* long-zigzag - top-right */
.deco-bold-zigzag-top-left strong::after {
  width: 100%;
  left: 0;
  top: 0;
  transform: scaleX(-1) translate(25%, -20%);
}

/* pigtail */
.deco-bold-pigtail strong::after {
  content: url("/assets/img/scribble-pigtail.svg");
  position: absolute;
  right: 20%;
  bottom: 0;
  width: clamp(80px, 15vw, 220px);
  transform: translate(0%, -15%) rotate(-150deg);
}

@media (min-width: 900px) {
  .deco-bold-pigtail strong::after {
    width: clamp(220px, 15vw, 250px);
  }
}

/* ------- drawing styles, .deco-bold-xxxx ends ------- */

/* ------- buttons ------- */

/* primary-button: white */
.primary-button {
  color: var(--color-white);
  background: transparent;
  border: 1px solid var(--color-white);
  padding: 10px 20px;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-xs);
  line-height: 1.2;
  font-weight: 700;
  border-radius: var(--border-radius-xl);
  letter-spacing: -0.03em;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.primary-button::before,
.primary-button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 100%;
  left: 0;
  z-index: -1;
  transition: all 0.3s cubic-bezier(0.75, 0, 0.125, 1);
}

.primary-button::before {
  background: var(--color-accent-light-blue);
}

.primary-button::after {
  background: var(--color-white);
}

.primary-button:hover {
  color: var(--color-primary-blue);
}

.primary-button:hover::before,
.primary-button:hover::after {
  transform: translate3d(0, 100%, 0);
}

.primary-button:hover::after {
  transition-delay: 0.175s;
}

/* primary button: transparent */
.theme-transparent .primary-button,
.primary-button.transparent {
  color: var(--color-white);
  border-color: var(--color-white);
  background: transparent;
}

.theme-transparent .primary-button::before,
.primary-button.transparent::before {
  background: var(--color-grey);
}

.theme-transparent .primary-button:hover,
.primary-button.transparent:hover {
  color: var(--color-black);
}

/* primary button: black */

/* stylelint-disable-next-line */
.theme-light .primary-button,
.primary-button.black {
  color: var(--color-black);
  border-color: var(--color-black);
  background: transparent;
}

.theme-light .primary-button::before,
.primary-button.black::before {
  background: var(--color-primary-blue);
}

.theme-light .primary-button::after,
.primary-button.black::after {
  background: var(--color-black);
}

.theme-light .primary-button:hover,
.primary-button.black:hover {
  color: var(--color-white);
}

@media (min-width: 900px) {
  .primary-button {
    font-size: var(--body-font-size-xs);
    padding: 14px 30px;
  }

  .deco-bold-y-sign strong {
    margin-right: 20%;
  }
}

/* arrow link */
a:any-link.arrow-link {
  color: var(--color-black);
}

a:any-link.arrow-link::after {
  content: "";
  background-image: url("/assets/svg/arrow-up-right-black.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 18px;
  height: auto;
  aspect-ratio: 1 / 1;
  margin-left: 4px;
  transition: var(--transition-ease-in-out);
  margin-bottom: -2px;
}

a:any-link.arrow-link:hover::after {
  transform: translate(4px) rotate(45deg);
}

/* -------------- Utility Classes Ends -------------- */

/* -------------- Animation Classes Starts -------------- */

/* reveal animation */
.slide-reveal-wrapper {
  overflow: hidden;
  padding-bottom: 0.08em;
  margin-bottom: -0.08em;
}

.slide-reveal-inner {
  display: inline-block;
  transform: rotate(5deg) translateY(120%);
  transition: all 0.8s var(--cubic-bezier-1);
}

.in-view .slide-reveal-inner {
  transform: none;
}

.fade-in,
.fade-up,
.fade-left,
.fade-right {
  opacity: 0;
  transition: all 0.4s linear;
}

.fade-up {
  transform: translateY(30px);
}

.fade-left {
  transform: translateX(-30px);
}

.fade-right {
  transform: translateX(30px);
}

.in-view .fade-in,
.in-view .fade-up,
.in-view .fade-left,
.in-view .fade-right {
  opacity: 1;
  transform: none;
}

/* split text animation */
.split-text-wrapper {
  position: relative;
  display: inline-block;
  transform: translateZ(0);
}

.split-text-wrapper .original {
  white-space: nowrap;
}

.split-text-wrapper .cloned {
  position: absolute;
  top: 0;
  left: 0;
  bottom: auto;
  width: 100%;
  height: fit-content;
}

.splitted-wrapper {
  overflow: hidden;
  display: inline-flex;
}

.splitted-letter {
  display: inline-block;
  transform: translateX(0%);
  transition: all 0.5s;
  position: relative;
}

h3.split-text-wrapper,
h4.split-text-wrapper {
  margin-bottom: -0.15em;
}

h3.split-text-wrapper .splitted-letter,
h4.split-text-wrapper .splitted-wrapper {
  margin-right: -2px;
}

h3.split-text-wrapper .splitted-letter,
h4.split-text-wrapper .splitted-letter {
  padding-bottom: 0.15em;
  padding-right: 2px;
}

.split-text-wrapper .cloned .splitted-letter {
  transform: translateX(-110%);
}

.split-text-hover-wrapper:hover .splitted-letter,
.split-text-wrapper:hover .splitted-letter {
  transform: translateX(110%);
}

.split-text-hover-wrapper:hover .cloned .splitted-letter,
.split-text-wrapper:hover .cloned .splitted-letter {
  transform: translateX(0);
  opacity: 1;
  transition-duration: 0;
}

/* hover shine animation */
.hover-shine {
  position: relative;
  overflow: hidden;
}

.hover-shine::before {
  position: absolute;
  left: -75%;
  z-index: 2;
  display: block;
  content: "";
  height: 100%;
  transform: skewX(-25deg);
  width: 60%;
  /* stylelint-disable */
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.4) 40%,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.4) 100%
  );
  /* stylelint-enable */
}

.hover-shine:hover::before {
  animation: hover-shine 1s;
}

@keyframes hover-shine {
  100% {
    left: 120%;
  }
}

/* -------------- Animation Classes Ends -------------- */

/* -------------- Section Specific Styles -------------- */

/* hero */
.home-hero,
.services-hero,
.work-hero,
.contact-hero,
.about-hero {
  min-height: calc(100vh - 115px);
  max-height: 990px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--spacing-3xl) 0;
}

.home-hero.with-section-description .default-content-wrapper {
  padding-bottom: 20%;
}

.home-hero .section-description {
  width: 84%;
  max-width: 520px;
  margin-bottom: 80px;
}

main .section.services-hero,
main .section.work-hero {
  min-height: 60vh;
  padding-top: 20%;
}

.about-hero .free-style-title {
  margin-top: 15vh;
  margin-bottom: 12vh;
}

.about-hero img {
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

@media (min-width: 600px) {
  .home-hero .section-description {
    width: 60%;
  }
}

@media (min-width: 900px) {
  .home-hero {
    min-height: 90vh;
    max-height: min(95vh, 990px);
  }

  .home-hero.with-section-description .default-content-wrapper {
    padding: 10% 0 15%;
  }

  .home-hero .section-description {
    margin-bottom: 7.5%;
    max-width: 520px;
  }

  main .section.services-hero,
  main .section.work-hero {
    min-height: 80vh;
    padding-top: 12.5%;
  }

  main .section.about-hero {
    max-height: 1500px;
    padding-bottom: 0;
  }

  .about-hero img {
    aspect-ratio: 16 / 9;
    object-fit: cover;
  }

  .about-hero .free-style-title {
    margin-top: 17.5vh;
    margin-bottom: 20vh;
  }
}

/* testimonial */
main .section.testimonial-section {
  padding-bottom: 96px;
}

@media (min-width: 900px) {
  main .section.testimonial-section {
    padding-bottom: calc(var(--spacing-3xl) * 1.3);
  }
}

/* offering blade */
@media (min-width: 900px) {
  .offering-blade .free-style-title,
  .offering-blade .section-description {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Project Detail - blocks */
.section .project-hero-wrapper,
.section .project-summary-wrapper {
  max-width: unset;
}

/* Contact */
.contact-hero .section-description {
  margin-top: var(--spacing-m);
}

main .section.contact-info-section {
  padding-bottom: 0;
}

.contact-info-section .split-title-section {
  margin-bottom: var(--spacing-s);
}

main .section.contact-info-section .split-title-section-wrapper{  
  padding-top: 32px;
}

.contact-location-section.locations-container {
  background: var(--color-light-grey);
}

@media (min-width: 900px) {
  .contact-info-section .split-title-section {
    margin-bottom: var(--spacing-ml);
  }
}

/* About Us */
.about-team .free-style-title {
  margin-bottom: var(--spacing-m);
}

.about-team .section-description {
  margin-bottom: var(--section-spacing-xl);
}

@media (min-width: 900px) {
  .about-team .free-style-title {
    margin-bottom: var(--spacing-xl);
  }

  .about-team .heading-ml {
    font-size: clamp(58px, 5vw, 80px);
  }

  main .section.about-clients {
    padding-bottom: calc(128px * 1.5);
  }
}

/* -------------- Section Classes Ends -------------- */

/* ----- TODO: Glide Carousel, depends on final design ---------- */
.glide {
  position: relative;
}

/* stylelint-disable */
.glide__arrows {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  display: none;
}

.glide__arrow {
  position: absolute;
  width: 25px;
  height: auto;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: transparent;
  color: var(--color-primary-blue);
  border: 1px solid var(--color-primary-blue);
}

.glide__arrow--left {
  left: 0;
}

.glide__arrow--right {
  right: 0;
}

.glide__arrow:hover {
  color: var(--color-white);
}

.glide__bullets {
  display: flex;
  justify-content: center;
  padding-top: var(--spacing-s);
}

.glide__bullet {
  border: 0;
  /* background: var(--color-accent-light-blue); */
  background: var(--color-light-grey);
  width: 10px;
  height: auto;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  margin: 0 4px;
}

.glide__bullet--active {
  background: var(--color-primary-blue);
}

@media (min-width: 600px) {
  .glide__arrows {
    display: block;
  }

  .glide__bullet {
    margin: 0 8px;
  }

  .glide__slide .partner-card-wrapper {
    padding: 0 8%;
  }
}
/* stylelint-enable */

/* -------------- Glide Carousel Ends -------------- */

/* -------------- 404 page starts ------------ */
main.error {
  background: var(--color-primary-blue);
  color: white;
  width: 100%;
}

main.error .error-section {
  display: grid;
  place-items: center;
  width: 100%;
  background: transparent;
  min-height: 100vh;
}

.main.error .error-section text {
  fill: var(--color-white);
}

main.error .error-number {
  width: 50% !important;
  max-width: 180px;
  aspect-ratio: 160 / 85;
  margin-bottom: 16px;
  padding: 10px 0;
  padding-right: clamp(8px, 2vw, 12px);
}

main.error .error-section .primary-button {
  color: var(--color-white);
}

main.error .error-section .primary-button:hover {
  color: var(--color-primary-blue);
}

main.error > .section .default-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* -------------- 404 page Ends -------------- */
